* {
  margin: 0;
  padding: 0;
  font-family: monospace;
  font-weight: bold;
}

.contact {
  padding: 20px;
}

h2 {
  font-family: monospace;
}

.contact h3 {
  text-align: center;
  font-family: monospace;
  font-size: 30px;
  margin-bottom: 20px;
}

.form {
  backdrop-filter: blur(10px);
  background-color: #ffffff;
  min-height: 300px;
  padding: 30px;
  border-radius: 6px;
  width: 300px;
  /* margin-left: 260px;
  margin-top: 100px; */
}

.form-group {
  margin-bottom: 20px;
  height: 48px;
  position: relative;
}

.form-label {
  padding: 0 6px;
  font-weight: bold;
  font-size: 14px;
  font-family: monospace;
  position: absolute;
  top: 13px;
  left: 13px;
  color: rgb(0, 0, 0);
  transition: 0.3s;
}

.form-control {
  width: 90%;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  outline: none;
  background: none;
  padding: 0 16px;
  color: rgb(0, 0, 0);
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
  z-index: 1;
}
.form-control:focus + .form-label {
  top: -8px;
  z-index: 10;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  font-weight: 500;
}
.form-control:not(:focus):valid + label {
  top: -8px;
  z-index: 10;
  color: rgb(255, 255, 255);
  background-color: rgb(0, 0, 0);
  border-radius: 6px;
  font-weight: 500;
}

.contact button {
  background-color: white;
  color: #000000;
  border: 1px solid black;
  width: 50%;
  height: 100%;
  font-family: monospace;
  padding: 10px 20px;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.contact button:hover {
  background-color: #212122;
}
.section {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media (max-width: 768px) {
  /* Adjust font size and padding for smaller screens */
  .contact input[type="text"],
  .contact input[type="email"],
  .contact textarea {
    font-size: 14px;
    margin-bottom: 7px;
    padding: 8px;
  }
  .submission-status {
    font-size: 18px;
    color: rgb(0, 0, 0);
    margin-top: 20px;
    font-family: monospace;
  }
}
